<?xml version="1.0" encoding="UTF-8"?>
<model>
    <name>assignment_model-alignment-icub_head_epr</name>
    <version>1.0</version>
    <sdf version='1.7'>model.urdf</sdf>
    <description>Model for the iCub humanoid robot v2.7 head, used for Easy Peasy Robotics (https://easy-peasy-robotics.github.io) simulations.</description>
</model>
